<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Turnos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Odontolgos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pacientes</a>
  </li>
</ul>

<main class="container">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>


  <div  Class = "row">

      <h1>
        ABM clinicapp
      </h1>
      <hr>
      <div class="card" style="width: 18rem;">
        <img src="./images/odonto.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Turnos</h5>
          <p class="card-text">Aplicando para seleccion de turnos
        </p>
        <ul>
          <li>Alta de turnos</li>
          <li>Bajas de turnos</li>
          <li>Consultas de turnos</li>
        </ul>
          <a href="#" class="btn btn-primary">Continuar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Odontolgos</h5>
          <p class="card-text">Consultas Odontologos</p>
          <ul>
            <li>Alta de odontolgos</li>
            <li>Bajas de odontolgos</li>
            <li>Consulta odontolgos</li>
          </ul>
          <a href="#" class="btn btn-primary">Continuar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pacientes</h5>
          <p class="card-text">Consultas Pacientes</p>
          <ul>
            <li>Alta de Pacientes</li>
            <li>Bajas Pacientes</li>
            <li>Consulta Pacientes</li>
          </ul>
          <a href="#" class="btn btn-primary">Continuar</a>
        </div>
      </div>

    </div>




</main>

  <router-outlet></router-outlet>
<router-outlet></router-outlet>
