/* stylelint-disable */
/* Colors */
@use 'sass:color' as scolor;

$colors: (
    black: #000000,
    white: #ffffff,
    razzmatazz: #e10856,
    eerie: #1d1d1d,
    teal: #0feffd,
);

@function color($key, $new-alpha: 1) {
    @if map-has-key($colors, $key) {
        $color: map-get($colors, $key);
        @return scolor.adjust($color, $alpha: $new-alpha);
    }

    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}
