/* Formato css para el component Form que se encuentra en la ruta src/Components/Card/Card.js */
/* el formulario cuenta con Nombre, Apellido, Email, Telefono, Fecha de nacimiento, Direccion, Ciudad, Pais, Codigo postal, Estado, Contraseña, Confirmar contraseña, Boton de enviar y Boton de cancelar */


/* Se importa el modulo css */


/* la card debe tener un ancho y alto del tamaño de un tarjeta con sombras de la pantalla
 */
.card {

    width: 200px;
    height: 500px;
    background-color: #fff;
    border-radius: px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  

}

.tarjeta{
    width: 600px;
    height: 400px;
    background-color: transparent;
    border: 2px solid #fff;
  }